    <div id="div_siteContainer" class="site-wrapper">
        <!-- Header Container <header>-->
        <div id="div_headerContainer" class="navbar game-header">
            <!-- Sticky Header -->
            <h1 id="hdr_fixed" class="text-center sticky-header">"It" insider<p id="p_header">Discover your itinerary</p></h1>
            <!-- Fixed Tagline -->
            <div id="div_fixedTaglineContainer" class="tagline">
                <h3 id="hdr_taglineStatic" class="text-center">{{getWelcomeTagline}}</h3>
            </div>
        </div>
        <!-- Content Container <section>-->
        <div id="div_contentContainer" class="container-fluid">
        </div>
        <!-- Footer Container <footer>-->
        <div id="div_footerContainer" class="navbar navbar-fixed-bottom">
            <!-- Fixed Footer -->
        </div>
    </div>
