/******************************
ONE COLUMN
******************************/
@media screen and (min-width: 100px) {
    #div_contentContainer {
    }
    
    #div_resultsContentContainer {
        padding-top:100px;
        padding-bottom:65px;
    }
    
    #div_footerContainer {
        width:90px;
        margin: 0 auto;
    }

    #div_hdrRestartGame, #div_hdrLaunchSurvey {    
        display: none;
    }
    
    #div_resultsFooterContainer {
        display: block;
    }
    
}

@media screen and (min-width: 253px) {
    #div_contentContainer {
    }
    
    #div_resultsContentContainer {
        padding-top:70px;
        padding-bottom:65px;
    }
    

}

@media screen and (min-width: 462px) {
    #div_contentContainer {
    }
    
    #div_resultsContentContainer {
        padding-top: 70px;
        padding-bottom:65px;
    }
    
}
/******************************
DESTINATIONS DOUBLE ROW TWEAK
******************************/

@media screen and (min-width: 500px) {
  .tags-container {
    height: 180px;
  }
 
}
/******************************
TWO COLUMNS
******************************/
@media screen and (min-width: 600px) {
    #div_contentContainer {
    }
    
    #div_footerContainer {        
        margin: 0px;
    }
    
    #div_resultsContentContainer {
        padding-top: 72px;
        padding-bottom:65px;
    }

    .sticky-header {
      font-size: 2.4em;
    }
    
    #hdr_resultsFixed.fixed-header {
      width: auto;
      text-align: left;
      margin-left: -13%;
      padding-left: 19px;
      font-size: 2.6rem;
    }
    
    .fixed-header {
     font-size: 2.2rem;
    
     padding-top: 4px;
}
    
    h3 {
        font-size: 1.2rem;
    }
    
    #p_header {
      font-size: 2.6rem;
    }
    
    .bkBtn {
      margin-top: 6%;
    }
  
      #div_hdrRestartGame, #div_hdrLaunchSurvey {    
      display: block;
    }
    
    #div_resultsFooterContainer {
      display: none;
    }

}
/******************************
DESTINATIONS SINGLE ROW
******************************/
@media screen and (min-width: 800px) {
  .title-container {
    width: 33.333%;
    float: left;
  }
  
  .bkBtn {
    margin-top: 6%;
  }
}
/******************************
THREE COLUMNS
******************************/
@media screen and (min-width: 1224px) {
    #div_contentContainer {
    }

    #div_searchWizardContainer {
    }
    #div_resultsContentContainer {
        padding-top: 72px;
        padding-bottom:65px;
    }
    .sticky-header {
      font-size: 3em;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    #p_header {
      font-size: 3.2rem;
}
    
    .bkBtn {
        /* margin: 10px 0px 0px 0px; */
    
}
}