/*******************************
GENERAL
*******************************/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #555;
    color: #fff;
    /*overflow-y: hidden;*/
}
input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Century Gothic;
    font-size: 0.85em;
    text-align:center;
    color: #000000;
}
/*******************************
HEADER
*******************************/
.game-header {
    top: 0;
    /* border-width: 0 0 1px; */
    /* border-radius: 0; */
    border: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0px;        
}
.sticky-header, .fixed-header {
    line-height: 120%;
    margin: 0;
    background-color:#D6AC0A;
}
.sticky-header {
    font-size: 1.6em;
    font-family: 'Cinzel', 'serif';
    padding: 12px 0 0 0;
    color: #FFFFFF;        
}
.fixed-header {
    font-size: 2.2rem;
    font-family: 'Open Sans', sans-serif;        
    font-weight: 400;
    padding-top: 6px;
    margin-left: -6px;
}
#p_header {
    font-family: 'Open Sans', sans-serif;        
    color: white;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 120%;
    margin: 0;
    padding: 5px 20px 15px;
    opacity: 0.9;
}

/*******************************
SUB HEADER OR TAGLINE
*******************************/
.tagline {
        color: #FFFFFF;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        padding-left: 3%;
        padding-right: 3%;
}
h3 {
    font-size: 1.4em;
    line-height: 120%;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px 0;
}
/*******************************
GENERIC ELEMENTS
*******************************/
#div_contentContainer {
    /*
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCc5pRzrMHn-2iOeAPzzAkJH3J--alkJvg&center=40,10&zoom=2&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0xf8c967&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe98d58&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d&size=1024x768");
    */
    background-image: url("/static/images/snazzy-image-2.png");
    background-size:cover;
    background-position: center;
    height: 100vh;/*viewport height*/
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    min-width: 265px;
}
#divcontentContainer:before {
    content: '\200B';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    padding-left: 20%;
    padding-right: 20%;
}
#div_searchWizardContainer {
    background: rgba(0, 0, 0, 0.72) none repeat scroll 0 0 padding-box;
    border-radius: 0.352941em;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    margin-top: 15vh;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
#div_errorSubmit {
    display: none;
    border: 1px solid #f00;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.9em;
    padding: 5px;
}
#div_destinationInputContainer {
    box-sizing: border-box;
}
#ip_destination {
    width: 100%;
}
.datepicker {
    width: 75%;
}
.rowpadding {
    padding: 2% 2% 0 2%;
    display: inline-block;
}
.affinity-container {
    display: inline-block;
    font-size: 0.75em;
}
.affinity-ip {
    vertical-align: text-bottom;
}
#div_itinSearchFormSubmitContainer {
    margin-top: 1em;
    margin-bottom: 1em;
}
.search-button {
    background-color: #D6AC0A;
    border: 0;
    padding: 10px;
}
/*******************************
GAME PAGE FOOTER
*******************************/
#div_footerContainer {
        margin: 0 auto;
        width: 160px;
        padding: 0 0 12px 12px;
}
/*******************************
RESULTS PAGE HEADER
*******************************/
.resultsHeader {
        background-color: #D6AC0A;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
#div_resultsHeaderContainer {
        border:0px;
}
#div_headerContentContainer, #div_navBtnContainer {
        min-height: 50px;
}
#div_navBtnContainer.row {
        margin-left: 0px;
        margin-right: 0px;
}
#div_backToImgIcon {
        background-image: url('../img/back.png');
        margin: 9px 0 0 -9px;
}
#div_hdrRefreshIcon, #div_ftrRefreshIcon {
        background-image: url('../img/restart.png');
}
#div_hdrSurveyIcon, #div_ftrSurveyIcon {
        background-image: url('../img/feedback.png');
}
.navBtn {
        min-height: 74px;
        padding-top:16px;
        /* padding-bottom:16px; */
        cursor: pointer;
}
.resultBtnIcon {
        height: 22px;
        width: 22px;
        margin: auto;
}
.resultBtn {
        margin: 0;
        color: #000000;
}
.bkBtn {
        /* padding-top: 0.6%; */
        cursor: pointer;
}
#hdr_resultsFixed.fixed-header {
        color: black;        
        opacity: 0.7;
        width: 158%;
        text-align: center;
}
#div_hdrLaunchSurvey, #div_ftrLaunchSurvey {
        background-color: #FFDE32;
}

#div_hdrSurveyTxt, #div_hdrRefreshTxt {
        font-size: .9em;
        padding-top: 2px;
}

/*******************************
RESULTS PAGE CONTENT
*******************************/
#div_destinationResultContainer {
        background-color: #555;
}
#div_resultsContentContainer, #div_headerContentContainer {
        max-width: 940px;
        min-width: 320px;
}

/*******************************
RESULTS PAGE FOOTER
*******************************/
#div_resultsFooterContainer    {
        /*background-color: rgba(85, 170, 255,1);        */
        background-color: #D6AC0A;
        border: 0px;
}


