    <!-- this is a view -->
    <div id="div_itinerary_container">

        <!---Header--->
        <div id="div_headerContainer" class="navbar game-header">
            <!-- Sticky Header -->
            <h1 id="hdr_fixed" class="text-center sticky-header">Your Itinerary<p id="p_header"></p></h1>
        </div>

        <!--Summary Section-->
        <section id="itinerary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Destination Name</h2>
                        <h3 class="section-subheading text-muted">Month StartDate - EndDate,Year</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <ul>
                            <li>
                                <div>
                                    <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                                    <div class="img-circle img-responsive"
                                         style="font-size: 100px; position: relative;" >
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h4>Origin to Destination (Flight)</h4>
                                        <h4 class="subheading">DepartureDate</h4>
                                    </div>
                                    <div>
                                        <p class="text-muted">Airline Flight#</p>
                                        <p class="text-muted">Departure/Arrival DateTime</p>
                                        <p class="text-muted">Itinerary# </p>
                                        <p class="text-muted">Link to flight details here</p>
                                        <p class="text-muted">Link to book the flight here</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img src="static_resources/images/hotel2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Hotel Name</h4>
                                        <h4 class="subheading">Stay Dates</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Check In Time : 3pm</p>
                                        <p class="text-muted">Room Type : 1 King Size Bed</p>
                                        <p class="text-muted">Link to the Hotel here</p>
                                        <p class="text-muted">Link to book the hotel here</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <a class="page-scroll" href="#test">
                                        <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Day to Day Activities</h4>
                                        <h4 class="subheading">August 1-11, 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                    <div style="font-size: 72px;">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Honolulu to Seattle</h4>
                                        <h4 class="subheading">August 3, 2017</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="timeline-body">
                                            <p class="text-muted">Alaska Airlines 614</p>
                                            <p class="text-muted">Departs: XXX Arrives: XXX</p>
                                            <p class="text-muted">Itinerary#:  7642975204238610</p>
                                            <p class="text-muted">Link to flight details here</p>
                                            <p class="text-muted">Link to book the flight here</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>Pack
                                        <br>Your
                                        <br>Bags!</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>