<!-- this is a view -->
    <div id="div_siteContainer" class="site-wrapper">
        <!-- Header Container <header>-->
        <div id="div_headerContainer" class="navbar game-header">
            <!-- Sticky Header -->
            <h1 id="hdr_fixed" class="text-center sticky-header">Voyager<p id="p_header"></p></h1>
            <!-- Fixed Tagline -->
            <div id="div_fixedTaglineContainer" class="tagline">
                <h3 id="hdr_taglineStatic" class="text-center">&nbsp;</h3>
            </div>
        </div>
        <!-- Content Container <section>-->
        <div id="div_contentContainer" class="container-fluid">
            <form id="form_search_plan">
                <div id="div_destination_suggestions">
                    <div id="div_destinationInputContainer">
                        <input type="text" class="" placeholder="Enter destination (Country, Region, or City)" autocomplete="off"/>
                    </div>
                    <span class="text-link add-destination">+ Add destination</span>
                </div>
            </form>
        </div>
        <!-- Footer Container <footer>-->
        <div id="div_footerContainer" class="navbar navbar-fixed-bottom">
            <!-- Fixed Footer -->
        </div>
    </div>

        <!--"
https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCc5pRzrMHn-2iOeAPzzAkJH3J--alkJvg&center=40,10&zoom=2&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0xf8c967&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe98d58&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d&size=1024x768
        "-->
