<!-- this is a view -->
    <div id="div_siteContainer" class="site-wrapper">
        <!-- Header Container <header>-->
        <div id="div_headerContainer" class="navbar game-header">
            <!-- Sticky Header -->
            <h1 id="hdr_fixed" class="text-center sticky-header">Voyager<p id="p_header"></p></h1>
            <!-- Fixed Tagline -->
            <div id="div_fixedTaglineContainer" class="tagline">
                <h3 id="hdr_taglineStatic" class="text-center">&nbsp;</h3>
            </div>
        </div>
        <!-- Content Container <section>-->
        <div id="div_contentContainer" class="container-fluid">
            <div id="div_searchWizardContainer">
                <div id="div_errorSubmit">Please provide dates & a select a destination from shown suggestions</div>
                <form id="form_search_plan">
                    <div id="div_destinationSuggestions">
                        <div id="div_destinationInputContainer" class="">
                            <link href="/static/css/plugins/awesomplete.css" rel="stylesheet">
                            <script type="text/javascript" src="/static/js/plugins/awesomplete.js"></script>
                            <input type="text" id="ip_destination" class="awesomplete" placeholder="Enter destination" />
                        </div>
                        <input type="hidden" id="ip_selectedDestinationData" value=""/>
                    </div>
                    <div id="div_affinities_container" class="row">
                    {{> affinities}}
                    </div>
                    <div id="div_calendarContainer">
                        <div class="rowpadding">
                            <input type="text" id="div_startDatepicker" class="datepicker " placeholder="MM / DD / YYYY"/>
                        </div>
                        <div class="rowpadding">
                            <input type="text" id="div_endDatepicker" class="datepicker" placeholder="MM / DD / YYYY"/>
                        </div>
                    </div>
                    <div id="div_itinSearchFormSubmitContainer">
                        <button id="btn_itinSearchSubmit" type="button" class="search-button">Plan my trip</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- Footer Container <footer>-->
        <div id="div_footerContainer" class="navbar navbar-fixed-bottom">
            <!-- Fixed Footer -->
        </div>
    <link href="/static/css/plugins/pikaday.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/pikaday.min.js"></script>
    <script type="text/javascript">
        var startpicker = new Pikaday({
             field: document.getElementById('div_startDatepicker'),
             position: 'bottom right',
             reposition: false,
             format: 'MM/DD/YYYY',
             onSelect: function() {
                console.log(this.getMoment().format('MM/DD/YYYY'));
             }
        });
        var endpicker = new Pikaday({
             field: document.getElementById('div_endDatepicker'),
             format: 'MM/DD/YYYY',
             position: 'bottom left',
             reposition: false,
             onSelect: function() {
                console.log(this.getMoment().format('MM/DD/YYYY'));
             }
        });
    </script>
    </div>
