{{#each sortedAffinities}}
    <div class="affinity-container">
        <input type="checkbox" class="affinity-ip" id="ip_affinity_{{@index}}" data="{{this.theme}}"/>
        <span>&nbsp;{{this.theme}}
    </div>
{{/each}}